<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://172.18.111.101:5432/FactoryManagementDreams</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <mapping class="md.factorydream.entites.NoteGroups"/>
        <mapping class="md.factorydream.entites.Roles"/>
        <mapping class="md.factorydream.entites.Types"/>
        <mapping class="md.factorydream.entites.OrderNote"/>
        <mapping class="md.factorydream.entites.Departments"/>
        <mapping class="md.factorydream.entites.Url"/>
        <mapping class="md.factorydream.entites.StatusCod"/>
        <mapping class="md.factorydream.entites.TemplateParameters"/>
        <mapping class="md.factorydream.entites.UserDepartment"/>
        <mapping class="md.factorydream.entites.Orders"/>
        <mapping class="md.factorydream.entites.Threads"/>
        <mapping class="md.factorydream.entites.JobsHistory"/>
        <mapping class="md.factorydream.entites.Models"/>
        <mapping class="md.factorydream.entites.RoleAccess"/>
        <mapping class="md.factorydream.entites.Reports"/>
        <mapping class="md.factorydream.entites.PlanningAppointment"/>
        <mapping class="md.factorydream.entites.Appointment"/>
        <mapping class="md.factorydream.entites.ReportOrderParams"/>
        <mapping class="md.factorydream.entites.GroupNotes"/>
        <mapping class="md.factorydream.entites.Statuses"/>
        <mapping class="md.factorydream.entites.StatusGroup"/>
        <mapping class="md.factorydream.entites.ReportSequence"/>
        <mapping class="md.factorydream.entites.Users"/>
        <mapping class="md.factorydream.entites.Access"/>
        <mapping class="md.factorydream.entites.Diameters"/>
        <mapping class="md.factorydream.entites.Events"/>
        <mapping class="md.factorydream.entites.OrderParameters"/>
        <mapping class="md.factorydream.entites.Jobs"/>
        <mapping class="md.factorydream.entites.ReportParams"/>
        <mapping class="md.factorydream.entites.Equipment"/>
        <mapping class="md.factorydream.entites.ReportTemplate"/>
        <mapping class="md.factorydream.entites.Notes"/>
        <mapping class="md.factorydream.entites.Colors"/>
        <mapping class="md.factorydream.entites.EmployeesJobs"/>
        <mapping class="md.factorydream.entites.EventParameters"/>
        <mapping class="md.factorydream.entites.ParamNames"/>
        <mapping class="md.factorydream.entites.Customers"/>
        <mapping class="md.factorydream.entites.Employees"/>
        <mapping class="md.factorydream.entites.Languages"/>
        <mapping class="md.factorydream.entites.TranslateDictionary"/>
    </session-factory>
</hibernate-configuration>
