<div class="form-group">
    <label for="Parameter" class="col-sm-2 control-label">Parameter</label>
    <div class="col-sm-10">
        <select id="Parameter" class="form-control" ng-model="noteParameter" ng-options="note.nameGroups for note in gridOrderNotes"></select>
    </div>
</div>
<div class="form-group">
    <label for="noteConntent" class="col-sm-2 control-label">Note</label>
    <div class="col-sm-10">
        <textarea class="form-control non-resize" id="noteConntent" placeholder="Note Conntent..." ></textarea>
    </div>
</div>
<div class="form-group modal-table">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click="addNewNote(false)" class="btn btn-sm btn-primary pull-right">Add</button>
    </div>
</div>