body {
    background-color: #f8f8f8;
}

.login-panel {
    margin-top: 25%;
}

textarea.non-resize {
     resize: none;
     min-height: 50px;
     margin-bottom: 5px !important;
}

.clear-both{
     clear: both;
}

.modal-table{
    margin-bottom: 0px !important;
}