<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!--  Properties JDBC file -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/jdbc.properties</value>
                <value>/WEB-INF/systemParms.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean> 


    
    <!--   p:location="/WEB-INF/jdbc.properties" />  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" ></property>
        <property name="url" value="${jdbc.url}" ></property>
        <property name="username" value="${jdbc.username}" ></property>
        <property name="password" value="${jdbc.password}" ></property>
    </bean>
    
    <!--  ADD  PERSISTENCE  SUPORT  HERE (jpa, hibernate, etc)  --> 
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>                
                <value>md.factorydream.entites.NoteGroups</value>
                <value>md.factorydream.entites.Roles</value>
                <value>md.factorydream.entites.Types</value>
                <value>md.factorydream.entites.OrderNote</value>
                <value>md.factorydream.entites.Departments</value>
                <value>md.factorydream.entites.Url</value>
                <value>md.factorydream.entites.StatusCod</value>
                <value>md.factorydream.entites.TemplateParameters</value>
                <value>md.factorydream.entites.UserDepartment</value>
                <value>md.factorydream.entites.Orders</value>
                <value>md.factorydream.entites.Threads</value>
                <value>md.factorydream.entites.JobsHistory</value>
                <value>md.factorydream.entites.Models</value>
                <value>md.factorydream.entites.RoleAccess</value>
                <value>md.factorydream.entites.Reports</value>
                <value>md.factorydream.entites.PlanningAppointment</value>
                <value>md.factorydream.entites.Appointment</value>
                <value>md.factorydream.entites.ReportOrderParams</value>
                <value>md.factorydream.entites.GroupNotes</value>
                <value>md.factorydream.entites.Statuses</value>
                <value>md.factorydream.entites.StatusGroup</value>
                <value>md.factorydream.entites.ReportSequence</value>
                <value>md.factorydream.entites.Users</value>
                <value>md.factorydream.entites.Access</value>
                <value>md.factorydream.entites.Diameters</value>
                <value>md.factorydream.entites.Events</value>
                <value>md.factorydream.entites.OrderParameters</value>
                <value>md.factorydream.entites.Jobs</value>
                <value>md.factorydream.entites.ReportParams</value>
                <value>md.factorydream.entites.Equipment</value>
                <value>md.factorydream.entites.ReportTemplate</value>
                <value>md.factorydream.entites.Notes</value>
                <value>md.factorydream.entites.Colors</value>
                <value>md.factorydream.entites.EmployeesJobs</value>
                <value>md.factorydream.entites.EventParameters</value>
                <value>md.factorydream.entites.ParamNames</value>
                <value>md.factorydream.entites.Customers</value>
                <value>md.factorydream.entites.Employees</value>
                <value>md.factorydream.entites.Languages</value>
                <value>md.factorydream.entites.TranslateDictionary</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
    
    <!--  Transaction  manager  for  a  single  Hibernate  SessionFactory (alternative to JTA)    -->
    <tx:annotation-driven transaction-manager="transactionManagerHibernate"/>

    <bean id="transactionManagerHibernate" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>    
    </bean>
   
    
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
    <!-- =========================  BUSINESS  OBJECT  DEFINITIONS =================================== -->
    
    <!--  Data  access object: Hibernate implementation. -->
    
    <bean id="customersDAO" class = "md.factorydream.spring.dao.CustomersDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="customersService" class="md.factorydream.spring.service.CustomersServiceImpl">
        <property name="customersDAO" ref="customersDAO"></property>
    </bean>
    
    
    <bean id="employeesDAO" class = "md.factorydream.spring.dao.EmployeesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="employeesService" class="md.factorydream.spring.service.EmployeesServiceImpl">
        <property name="employeesDAO" ref="employeesDAO"></property>
    </bean>
    
    <bean id="ordersDAO" class = "md.factorydream.spring.dao.OrdersDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="ordersService" class="md.factorydream.spring.service.OrdersServiceImpl">
        <property name="ordersDAO" ref="ordersDAO"></property>
        <property name="ordersNoteDAO" ref="orderNoteDAO"></property>
    </bean>
    
    <bean id="roleAccessDAO" class="md.factorydream.spring.dao.RoleAccessDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>            
    </bean>
    
    
    <bean id="roleAccessSevice" class="md.factorydream.spring.service.RoleAccessSeviceImpl">
        <property name="roleAccessDAO" ref="roleAccessDAO"></property>
    </bean>
    
    <bean id="usersDAO" class="md.factorydream.spring.dao.UsersDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    
    <bean id="usersService" class="md.factorydream.spring.service.UsersServiceImpl">
        <property name="usersServiceDAO" ref="usersDAO" ></property>
    </bean>
    
    
    <bean id="modelsDAO" class="md.factorydream.spring.dao.ModelsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="modelsService" class="md.factorydream.spring.service.ModelsServiceImpl">
        <property name="modelsDAO" ref="modelsDAO"></property>        
    </bean>
    
    <bean id="typesDAO" class="md.factorydream.spring.dao.TypesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="typesService" class="md.factorydream.spring.service.TypesServiceImpl">
        <property name="typesDAO" ref="typesDAO"></property>        
    </bean>
    
    
    <bean id="diametersDAO" class="md.factorydream.spring.dao.DiametersDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="diametersService" class="md.factorydream.spring.service.DiametersServiceImpl">
        <property name="diametersDAO" ref="diametersDAO"></property>        
    </bean>
    
    
    <bean id="threadsDAO" class="md.factorydream.spring.dao.ThreadsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="threadsService" class="md.factorydream.spring.service.ThreadsServiceImpl">
        <property name="threadsDAO" ref="threadsDAO"></property>        
    </bean>
    
    <bean id="colorsDAO" class="md.factorydream.spring.dao.ColorsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="colorsService" class="md.factorydream.spring.service.ColorsServiceImpl">
        <property name="colorsDAO" ref="colorsDAO"></property>        
    </bean>
    
    
    <bean id="orderNoteDAO" class="md.factorydream.spring.dao.OrderNoteDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    
    <bean id="ordersNoteService" class="md.factorydream.spring.service.OrdersNoteServiceImpl">
        <property name="orderNoteDAO" ref="orderNoteDAO"></property>  
        <property name="groupNotesDAO" ref="groupNotesDAO"></property>  
        <property name="notesDAO" ref="notesDAO"></property> 
    </bean> 
    
    
    <bean id="statusCodDAO" class="md.factorydream.spring.dao.StatusCodDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="statusCodService" class="md.factorydream.spring.service.StatusCodServiceImpl">
        <property name="statusCodDAO" ref="statusCodDAO"></property>
    </bean>
    
    <bean id="notesDAO" class="md.factorydream.spring.dao.NotesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="notesService" class="md.factorydream.spring.service.NotesServiceImpl">
        <property name="notesDAO" ref="notesDAO"></property>
    </bean>
    
    <bean id="noteGroupsDAO" class="md.factorydream.spring.dao.NoteGroupsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="noteGroupsService" class="md.factorydream.spring.service.NoteGroupsServiceImpl">
        <property name="noteGroupsDAO" ref="noteGroupsDAO"></property>
    </bean>
    
    <bean id="groupNotesDAO" class="md.factorydream.spring.dao.GroupNotesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="groupNotesService" class="md.factorydream.spring.service.GroupNotesServiceImpl">
        <property name="groupNotesDAO" ref="groupNotesDAO"></property>
    </bean>
    
</beans>
